#h1 {
    margin: 0;
    font-size: 1rem;
}

.App {
    background: rgb(230, 230, 230);
    height: 100vh;
}

.bookingList {
    padding: 1rem;
}

#bookingCity {
    text-transform: capitalize;
}

#bookingType {
    text-transform: capitalize;
}

#header {
    background: white;
    display: flex;
    align-items: center;
    margin: 0;
}

#header > img {
    height: 3rem;
}

#table {
    border: none;
    border-radius: 0;
}

#tableHeader {
  background: rgb(230, 230, 230); 
}
